table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

textarea {
    resize: none;
}

.response td:nth-child(1) {
  width: 20%;
}
.response td:nth-child(2) {
  width: 65%;
}
.response td:nth-child(3) {
  width: 15%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}